*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, sans-serif;
    
}
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(219, 219, 219);
    background-image: url(/assets/img/backgroud.png); 
     
    opacyt: 0.3;
    
     

}

.center{
    display: flex;
    flex-wrap: wrap; 
    max-width: 1280px;
    padding: 0 0%;
    margin:0 auto; 
    
    
    
    
}

.logo {
    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 20px;
    max-block-size: 80px;
    border-radius: 100px;

    
         
 }
 .header{
    height: 200px;
    padding: 20px 0;
   
    
 }
 .about{
    height: calc(100%-200px);
    position: relative;
 }
 .extras{
   
    position: absolute;
    right: -350px;
    top: 10px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.63);

}
.extras img {
    position: relative;
    max-block-size: 450px;
    right: 100px;
    top: 45px; ;
   

}

 .social-media {
    position: absolute;
    right: 260px;
    top: 250px;
   
}
.social-media img {
    display: block;
    box-sizing: border-box;
    width: 40px;
    margin: 20px 0;
}
.text-about {
    
    background-image: url(/assets/img/background2.png);
    margin-top: 60px;
    border-radius: 15px;
    
    position: absolute;
    right: 600px;
    top: -50px;
    max-width: 1000px;
} 
.text-about h1 {
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: 20px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #0D2B2B;
    text-align: center;
    font-style: oblique; 
}    